<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Twitter Sucks!</title>
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8">
</head>

<body>
  <h1>Twitter sucks!</h1>
  <ul>
    <% @search.take(25).each do |tweet| %>
      <li>
        <div class="avatar">
          <a href="<%= h tweet.user.uri %>">
            <img src="<%= h tweet.user.profile_image_uri %>">
            <span class="from_user">
              <%= h tweet.user.name %>
            </span>
          </a>
        </div>
        <div class="content">
          <p class="text">
            <%= Rinku.auto_link(highlight(tweet.full_text, "twitter sucks", "twittersucks")) %>
          </p>
          <p class="metadata">
            <a href="<%=h tweet.uri %>">
              <%= time_ago_in_words tweet.created_at %> ago
            </a>
            <% if tweet.reply? %>
              <span class="to_user">
                in reply to
                <a href="http://twitter.com/<%= h escape(tweet.in_reply_to_screen_name) %>/statuses/<%= h tweet.in_reply_to_status_id %>">
                  <%= h tweet.in_reply_to_screen_name %>
                </a>
              </span>
            <% end %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
  <div id="footer">
    <p>
      &copy; 2009&ndash;20 Grant Hutchins | <a href="http://nertzy.com">nertzy.com</a>
    </p>
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-278947-6");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
