<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Twitter Sucks!</title>
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8">
</head>

<body>
  <h1>Twitter sucks!</h1>
  <ul>
    <% @search.each do |result| %>
      <li>
        <div class="avatar">
          <a href="http://twitter.com/<%= h escape(result.from_user) %>">
            <img src="<%= h result.profile_image_url %>">
            <span class="from_user">
              <%= h result.from_user %>
            </span>
          </a>
        </div>
        <div class="content">
          <p class="text"><%= result.text %></p>
          <p class="metadata">
            <a href="http://twitter.com/<%= h escape(result.from_user) %>/status/<%= result.id %>">
              <%= time_ago_in_words Time.parse(result.created_at) %> ago
            </a>
            <% if result.to_user %>
              <span class="to_user">
                in reply to 
                <a href="http://twitter.com/<%= h escape(result.to_user) %>">
                  <%= h result.to_user %>
                </a>
              </span>
            <% end %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
  <div id="footer">
    <p>
      &copy; 2009 <a href="http://nertzy.com">nertzy.com</a> | 
      <a href="http://lookatallthethingsimnotdoing.com/">Look At All The Things I'm Not Doing</a>
    </p>
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-278947-6");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
